body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 57px;
  /*background: lightgreen;*/
}

.content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: #2ef26f;*/
  /*background: orange;*/
  overflow: auto;
}
